# Generate a Fernet key for a new installation.
FERNET_KEY=

# On Linux, replace with the output of: id -u
AIRFLOW_UID=1000

MINIO_ROOT_USER=localadmin
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=dhap42

AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}

AIRFLOW_CONN_MINIO_S3='{"conn_type":"aws","extra":{"endpoint_url":"http://minio:9000","region_name":"us-east-1","config_kwargs":{"s3":{"addressing_style":"path"}}}}'